:root {
    --black: #000000;
    --black-rgb: 0, 0, 0;

    --white: #ffffff;
    --white-rgb: 255, 255, 255;

    --blush-breeze: #ffc9e2;
    --blush-breeze-rgb: 255, 182, 193;

    --soft-purple: #f0e1ff;
    --soft-purple-rgb: 240, 225, 255;

    --sunny-cream: #fff1bb;
    --sunny-cream-rgb: 253, 230, 138;

    --sky-mist: #d2e7ff;
    --sky-mist-rgb: 147, 197, 253;

    --cloud-white: #f0f0f0;
    --cloud-white-rgb: 243, 244, 246;

    --midnight-charcoal: #111827;
    --midnight-charcoal-rgb: 17, 24, 39;
}
