.sec-admin {
    height: 100vh;
    background: var(--sunny-cream);
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5rem;

        h1 {
            @media (max-width: 600px) {
                font-size: 1.8rem;
            }
        }

        a {
            display: block;
            padding: 0.75rem 1rem;
            border-radius: 0.75rem;
            text-align: center;
            background: #fff;
            color: var(--primary-color, #7b5cf6);
            font-weight: 600;
            text-decoration: none;
            transition: transform 0.2s, box-shadow 0.3s;
            border: 1px solid black;

            &:hover {
                background: var(--primary-color, #7b5cf6);
                color: #fff;
                transform: translateY(-2px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            }
        }
    }
}
