{% extends 'baseAdmin.html.twig' %}  {% block body %}
<section class="sec-dashboard">
    <div class="container">
        <h1>Mon dashboard</h1>
        <p>Contenu centré</p>
    </div>
</section>
{% endblock %}
