.sec-soaps_page {
    background: var(--soft-purple);
    flex: 1;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5rem;
        padding: 10rem 5rem;
        @media (max-width: 800px) {
            h1 {
                margin-top: 5rem;
            }
            padding: 0rem;
        }

        .intro {
            max-width: 50rem;
        }

        .soap-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
            padding-top: 5rem;
            row-gap: 10rem;

            /* Tablette : 2 colonnes */
            @media (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);
            }

            /* Mobile : 1 colonne */
            @media (max-width: 800px) {
                grid-template-columns: 1fr;
            }

            .card-link {
                text-decoration: none;
                color: inherit;
                display: block;
            }

            .card {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                gap: 1rem;
                background: var(--white);
                max-width: 23rem;
                height: 37rem;
                padding: 2rem;
                border-radius: 1rem;

                .soap-images {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                    overflow: hidden;
                    padding: 0.5rem;

                    img {
                        max-width: 18rem;
                    }
                }

                .rating-static {
                    display: flex;
                    gap: 5px;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .star {
                        display: flex;
                        justify-content: center;
                        color: lightgray;

                        &.active {
                            color: gold;
                        }

                        svg {
                            width: 1.8rem;
                            height: 1.8rem;
                            fill: currentColor;
                        }
                    }
                }

                p {
                    max-width: 18rem;
                }

                h2 {
                    font-size: 1.5rem;
                    width: 95%;
                }
            }
        }
    }
}
