footer.section {
    width: 100%;
    padding: 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background: var(--black);
        color: var(--white);
        max-width: none;
        padding: 1rem 5rem;

        .col-1 {
            img {
                width: 10rem;
            }
        }

        .col-2 {
            font-size: 1rem;
            text-align: right;

            ul {
                list-style: none;
            }
        }
    }
}
