footer.section {
    width: 100%;
    padding: 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background: var(--black);
        color: var(--white);
        max-width: none;
        padding: 1rem 5rem;
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem 5rem;
        }

        .col-1 {
            img {
                width: 10rem;
            }
        }

        .col-2 {
            font-size: 1rem;
            text-align: right;
            @media (max-width: 800px) {
                display: flex;
                text-align: center;
                align-items: center;
            }

            ul {
                list-style: none;

                @media (max-width: 800px) {
                    padding: 0rem;
                }

                li {
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
