@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    overflow-x: hidden;
}
body {
    position: relative;
    background: var(--cloud-white);
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    &.purple {
        background: var(--soft-purple);
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 15rem;

    @media (max-width: 800px) {
        gap: 8rem;
    }
}

section,
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding: 0 1.5rem;
    width: 100%;

    > .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 75rem;
        width: 100%;
    }
}

.highlight-white {
    background: rgba(255, 255, 255, 0.9);
    padding: 0.2rem 0.4rem;
    border-radius: 4px;

    @media (max-width: 1200px) {
        padding: 0.15rem 0.3rem;
    }
}

.highlight-sunny {
    background: var(--sunny-cream);
    padding: 0.1rem 0.2rem;
    border-radius: 4px;

    @media (max-width: 800px) {
        padding: 0.15rem 0.4rem;
    }
}
