.btn {
    background: var(--black);
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    border: none;
    max-width: 10rem;

    &:hover {
        background: var(--sunny-cream);
        cursor: pointer;
        transition: 0.3s;
        color: var(--black);
        border: 1px solid var(--black);
    }
}
