{% extends 'base.html.twig' %} 
{% block body %}
<section class="sec-soap_page">
    <div class="container">
        <h1>TOUT LES SAVONS</h1>
        <p class="intro">Un espace pour explorer différents savons, découvrir leurs caractéristiques, consulter les notes attribuées par la communauté et enregistrer vos préférés dans vos favoris. </p>
          <div class="soap-cards">
          
            {% for soap in soaps %}
                <div class="card">
                    <h2>{{ soap.name }}</h2>
                    <p>{{ soap.description }}</p>

                    {% if soap.media|length > 0 %}
                        <div class="soap-images">
                            {% for image in soap.media %}
                                <img src="{{ asset('uploads/' ~ image.path) }}" alt="{{ soap.name }}">
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <p>Aucun savon trouvé.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
