{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block body %}
<section class="sec-favorites">
    <div class="container">
        <h1>Mes favoris</h1>

        <div class="soap-cards">
            {% if favorites is not empty %}
                <ul class="favorites-list">
                    {% for favorite in favorites %}
                        <li class="card" data-favorite-id="{{ favorite.id }}">
                            <a href="{{ path('app_soap_show', {id: favorite.soap.id}) }}">
                                <h2>{{ favorite.soap.name }}</h2>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Vous n’avez encore aucun favori.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
