{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<section class="sec-articles">
<div class="container">
<div class="intro">
    <h1>BIENVENUE SUR L’ESPACE ECHANGE !</h1>
    <p>Un espace ouvert à tous pour échanger vos conseils, raconter vos découvertes et vous inspirer des retours des autres passionnés.</p>
</div>

<div class="actions">
<a href="{{ path('app_user_create_article')}}">Créer un article</a>
<p>Trier par</p>
<p>Rechercher par mots clés</p>
</div>

<div class="articles">

</div>
</div>
</section>
{% endblock %}
